html {
  background-color: grey;
}

.flexcon1 {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}

  .flexcon1 > div {
    background-color: #f1f1f1;
    width: 100%;
    padding: 100px;
    margin: 10px;
    border-style: solid;


  }
  .flexcon2 {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
  }

  .flexcon2 > div {
    background-color: #f1f1f1;
    padding: 100px;
    margin: 10px;
    font-size: 30px;
    width: 30%;
    border-style: solid;
  }

  .flexcon3 {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
  }

  .flexcon3 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 25px;
    font-size: 30px;
    width: 95%;
    border-style: solid;
   }